$screen-sm-phone: 375px;
$screen-sm-min: 576px;

// Small tablets (portrait view)
$screen-md-min: 768px;

// Tablets and small desktops
$screen-lg-min: 992px;

// Large tablets and desktops
$screen-xl-min: 1200px;


@mixin phone {
  @media (min-width: #{$screen-sm-phone}) {
    @content;
  }
}
// Small devices
@mixin sm {
  @media (min-width: #{$screen-sm-min}) {
    @content;
  }
}

// Medium devices
@mixin md {
  @media (min-width: #{$screen-md-min}) {
    @content;
  }
}

// Large devices
@mixin lg {
  @media (min-width: #{$screen-lg-min}) {
    @content;
  }
}

// Extra large devices
@mixin xl {
  @media (min-width: #{$screen-xl-min}) {
    @content;
  }
}
.App {
  position: absolute;
  width: 100%;
  height: 100%;
  text-align: center;

}

.App-body {
  background: url('/background.png');
  display: flex;
  background-position-y: -100px;
  position: relative;
  width: 100%;
  height: 100%;

  @include phone {
    flex-direction: column;
  }

  .App-left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;

  @include phone {
    width: 100%;
    padding: 2px;
  }
    .App-content {
      width: 75%;
      display: flex;
      flex-direction: column;
      @include phone {
        width: 100%;
      }
    }

    .ui.input {
      @include phone {
        font-size: 15px;
        width: 255px;
      }

      input {
        background-color: rgb(222,222,222);
      }
      button {
        background-color: rgb(172,172,172);

        i {
          color: white
        }
      }
    }

    .App-comingSoon {
      width: 257px;
      height: 55px;
    }
    .App-submitText {
      margin-top: 20px;
      margin-bottom: 20px;
      width: 45%;

      @include phone {
        width: 65%;
      }
    }

    .App-store-container {
      display: flex;

      img {
        width: 185.5px;
        height: 55.5px;
        margin: 15px;
        margin-left: 0px;

        @include phone {
          width: 92.75px;
          height: 27.75px;
        }
      }
    }
  }
}


.App-logo {
  @include phone {
    margin: 5px;
    height: 35px;
  }
  @include lg {
    height: 69px;
    margin: 20px;
    margin-left: 100px;
  }
  @include md {
    height: 69px;
    margin: 20px;
    margin-left: 100px;
  }
}

.App-header {
  background-color: #fff;
  display: flex;
  height: 70px;
  color: white;

  @include phone {
    height: 25px;
  }
}

.App-space {
  width: 50%;
  height: 100%;

  @include phone {
    width: 100%;
  }
}

.App-right {
    @include phone {
      display: flex;
    }
  .App-phone {
    width: 50%;
    margin: 25%;
    @include phone {
      width: 270px;
      margin: 0px;
    }
  }
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
